div.ac_results{
 background-color: #FFF;
 border-color: #036;
 border-width: 0 1px 4px 1px;
 border-style: solid;
 z-index: 3;
}
div.ac_results ul{
 list-style: none outside none;
 margin: 4px 2px;
 padding: 0;
}
div.ac_results ul li{
 cursor: pointer;
}
div.ac_results ul li.ac_odd{
 background-color: #FFC;
}
div.ac_results ul li.ac_over{
 background-color: #FF6;
 padding-left: 5px;
}
